*{
    margin: 0px;
}
.pattern{
    background-image: url(../immagini/pattern.png);
    height: 193px;
    background-color: dodgerblue;
}
#titolo{
    font-size: 50px;
}
#scritta-grigia{
    color: darkgray;
}
.tim{
    height: 490px;
    margin: auto;
}
