*{
    margin: 0px;
}
.pattern{
    background-image: url(../immagini/pattern.png);
    height: 193px;
    background-color: dodgerblue;
}
#titolo{
    font-size: 50px;
}
#scritta-grigia{
    color: darkgray;
}
.tim{
    height: 490px;
    margin: auto;
}
.dimensione-testo{
    font-size: 40px;
}
.dimensione-testo-lista{
    font-size: 20px;
}
.Tab-lorem-1{
    width: 510px;
    font-size: 20px;
    background-color: blue;
       
}
.Tab-lorem{
    width: 510px;
    font-size: 20px;
    background-color: aqua;
       
}
.Tab-lorems{
    width: 510px;
    font-size: 20px;
    background-color: wheat;
         
}
table{
    border-collapse: collapse;
}