*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header css*/
header{
    background-color: rgb(64, 64, 252);
    background-image: url(../immagini/pattern.png);
    background-size: 300px;
    height: 100px;
}
#Logo{
    height: 100px;
    padding: 40px 0px 15px 10px;
}

/* MAIN */
main{
    margin: 5px;
}
/* immagin */
.author{
    color: grey;
    font-size: 18px;
}
.date{
    color: grey;
    font-size: 14px;
    margin-bottom: 30px;
}
.author-name{
    color: royalblue;
}
.caption{
    font-size: 14px;
}
.content{
    margin: 30px 0px;
}
ul{
    margin:  30px 15px;
}
/* table*/
table{
    border-collapse: collapse;
}


thead{
    background-color: cornflowerblue;
    color: white;
}
th{
    text-align:left ;    
}
.text{
    width: 50%;
}
.odd{
    background-color: lightblue;
}
/*footer*/
h2{
    color: gray;
    margin-left: 10px;
}
#image-monitor{
    background-image: url(../immagini/monitor.jpg);
}
#image-graph{
    background-image: url(../immagini/graph.jpg);
}
.image{
    height: 160px;
    width: 200px;
    color: white;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}